# Gradle
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# VS Code
.vscode/

# Mac
.DS_Store

# Windows
Thumbs.db

# Application properties (보안)
application-prod.properties

# 업로드된 파일 (용량 큼)
src/main/resources/static/uploads/
